## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,New Norfolk,AU,62.01,light rain,-42.78,147.06,The Shingles Riverside Cottages
1,27,Port Alfred,ZA,69.08,overcast clouds,-33.59,26.89,The Halyards Hotel
2,29,Mount Gambier,AU,59.00,broken clouds,-37.83,140.77,Commodore on the Park
3,41,Hobart,AU,62.01,light rain,-42.88,147.33,St Ives Hobart Accommodation Tasmania
4,43,Codrington,AU,65.88,clear sky,-38.27,141.97,Codrington Gardens Bed And Breakfast

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.


vacation_start = vacation_df.loc[vacation_df['City'] == 'Colac']
# vacation_start
vacation_end = vacation_df.loc[vacation_df['City'] == 'Colac']
# vacation_end
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Codrington']
vacation_stop1
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Mount Gambier']
vacation_stop2
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Victor Harbor']
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
134,577,Victor Harbor,AU,64.99,few clouds,-35.57,138.62,Apollon Motor Inn

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[['Lat', 'Lng']].to_numpy()[0])
end = tuple(vacation_end[['Lat', 'Lng']].to_numpy()[0])
stop1 = tuple(vacation_stop1[['Lat', 'Lng']].to_numpy()[0])
stop2 = tuple(vacation_stop2[['Lat', 'Lng']].to_numpy()[0])
stop3 = tuple(vacation_stop3[['Lat', 'Lng']].to_numpy()[0])

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
directions = gmaps.directions_layer(
    start, 
    end, 
    waypoints=[stop1, stop2, stop3],
    travel_mode='DRIVING')

fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,605,Colac,AU,64.99,light rain,-38.33,143.58,Otway Gate Motel
1,43,Codrington,AU,65.88,clear sky,-38.27,141.97,Codrington Gardens Bed And Breakfast
2,29,Mount Gambier,AU,59.00,broken clouds,-37.83,140.77,Commodore on the Park
3,577,Victor Harbor,AU,64.99,few clouds,-35.57,138.62,Apollon Motor Inn

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))